{% extends "base.html" %}
{% block head_title %}Edit note{% endblock %}

{% block content %}

<div class='book'>
  <div class='edit'>
    <form method='POST' action='./edit'> {% csrf_token %}
      <div class="book-hd">
        <span class='title'>
          <a href='/'>
            <i class="fas fa-arrow-left"></i>
          </a>Edit note</span>
        <button class='new' type='submit'><i class="far fa-save"></i>Save</button>
      </div>
      <div class="book-bd">
        {{ form }}
      </div>
    </form>
  </div>
</div>
<script type='text/javascript'>
  document.querySelector('input[name=title]').focus()
</script>

{% endblock %}
