{% extends 'base.html' %}

{% block content %}
    <div class='book user'>
        <div class='book-hd'>
            <span class='title'>Signup</span>
        </div>
        <div class='book-bd'>
            <form method='POST'>
                {% csrf_token %}
                {{ form.as_p }}
                <div class='footer'>
                    <a href='/login' class='info'>Login</a>
                    <button type='submit' class='submit'>Signup</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
