body {
  color: #333;
  background-color: #8A6143;
  background-image: url("bg.jpg");
  background-repeat: repeat;
}

* {
  outline: none;
}

header, main {
  max-width: 1064px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
}

header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

header .logo {
  display: inline-block;
  position: absolute;
  background-color: #CCE855;
  padding: 6px 40px 12px;
  font-size: 32px;
}

main {
  margin-top: 100px;
}

.book {
  height: calc(100vh - 200px);
  border: 3px solid #333;
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
  background-color: #FFFF81;
}

input {
  width: 100%;
  background-color: transparent;
}

input::placeholder,
textarea::placeholder {
  color: rgba(51, 51, 51, .6);
  font-style: italic;
}

.book .search input {
  padding: 2px 12px;
  border-radius: 15px;
  border: 1px solid #333;
}

.book .search {
  margin-bottom: 20px;
}

.book .notes-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  border: 1px solid #333;
  border-radius: 5px;
  height: calc(100% - 50px);
  overflow: auto;
}

.book .notes-list li:not(:last-child) {
  border-bottom: 1px solid #333;
}

.book .notes-list li a {
  display: block;
  padding: 10px;
  color: #333;
}

.book .notes-list li a:hover {
  background-color: #ffff47;
  cursor: pointer;
  text-decoration: none;
}

.book .notes-list li .title {
  display: block;
  font-size: 20px;
  font-weight: bold;
}

.book .notes-list li .content {
  display: block;
}

.book .view {
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  padding-bottom: 20px;
  height: 100%;
}

.book .view .title {
  font-size: 32px;
  display: block;
  /* margin-bottom: 10px; */
  font-weight: bold;
}

.book .view .content {
  display: block;
  padding-top: 1px;
}

.book .edit {
  height: 100%;
}

.book .edit form {
  height: 100%;
  display: block;
}

.book .edit input[name=title] {
  font-size: 32px;
  display: block;
  font-weight: bold;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  border-left: 0 none;
  border-right: 0 none;
  padding: 0;
}

.book .edit textarea[name=content] {
  background-color: transparent;
  width: 100%;
  border: 0 none;
  border-bottom: 1px solid #333;
  resize: none;
  height: calc(100% - 52px);
  padding: 0;
}

.book .edit input, .book .edit textarea {
  transition: background-color .5s;
}

.book .edit input:focus,
.book .edit textarea:focus {
  background-color: #ffff47;
}
