body {
  color: #333;
  background-color: #8A6143;
  background-image: url("bg.jpg");
  background-repeat: repeat;
}

* {
  outline: none;
}

header, main {
  max-width: 1064px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
}

header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

header .logo {
  display: inline-block;
  position: absolute;
  background-color: #CCE855;
  padding: 12px 40px 12px;
  font-size: 32px;
  color: #333;
  text-decoration: none;
  top: -12px;
  transform: rotate(-3deg);
  transition: .3s;
}

header .logo:hover {
  top: -6px;
  transform: rotate(0deg);
}

header .user {
  float: right;
  background-color: white;
  padding: 2px;
  border-radius: 5px;
  margin: 7px 0;
}

header .user > span {
  display: inline-block;
  padding: 4px 10px;
}

header .user > a {
  display: inline-block;
  padding: 4px 12px;
  background-color: #333;
  color: white !important;
  border-radius: 4px;
}

header .user > a:hover {
  background-color: black;
  text-decoration: none;
}

header .user > a > i {
  margin-right: 10px;
}

main {
  margin-top: 100px;
}

.book {
  height: calc(100vh - 200px);
  border-radius: 10px;
  border: 3px solid #333;
  overflow: hidden;
}

.book .book-hd {
  height: 50px;
  background-image: linear-gradient(#A27364, #634239);
  padding: 0 20px;
  color: white;
}

.book .book-hd .title {
  line-height: 50px;
  font-size: 22px;
}

.book .book-hd .title a {
  float: none;
  color: white;
  padding: 0;
  margin: 0;
}

.book .book-hd .title a:hover {
  color: white;
}

.book .book-hd a,
.book .book-hd button {
  color: #333;
  float: right;
  padding: 6px 12px;
  margin: 7px 0;
  border-radius: 5px;
  text-decoration: none;
  border: 0 none;
}

.book .book-hd a:hover,
.book .book-hd button:hover {
  color: black;
}

.book .book-hd a.mr {
  margin-right: 10px;
}

.book .book-hd a i,
.book .book-hd button i {
  margin-right: 10px;
}

.book .book-hd .new {
  background-color: #CCE855;
}

.book .book-hd .edit-btn {
  background-color: #FFFF81;
}

.book .book-hd .upload {
  background-color: #87D6F5;
}

.book .book-hd .delete {
  background-color: #F49599;
}

.book .book-bd {
  padding: 20px;
  background-color: #FFFF81;
  height: calc(100% - 50px);
}

input {
  width: 100%;
  background-color: transparent;
}

input::placeholder,
textarea::placeholder {
  color: rgba(51, 51, 51, .6);
  font-style: italic;
}

.book .search input {
  padding: 2px 12px;
  border-radius: 15px;
  border: 1px solid #333;
}

.book .search {
  margin-bottom: 20px;
}

.book .notes-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  border: 1px solid #333;
  border-radius: 5px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.book .notes-list li {
  position: relative;
  border-bottom: 1px solid #333;
}

.book .notes-list li > .note-options {
  position: absolute;
  top: 0;
  right: -20px;
  opacity: 0;
  transition: .3s;
}

.book .notes-list li:hover > .note-options {
  right: 0;
  opacity: 1;
}

.note-options a {
  padding: 10px 5px;
  border: 0 none;
  display: inline-block;
  color: #333;
  background-color: transparent;
}

.note-options a:hover {
  color: black;
}

.note-options a:first-child {
  padding-left: 10px;
}

.note-options a:last-child {
  padding-right: 10px;
}

.book .notes-list li > a {
  display: block;
  padding: 10px;
  color: #333;
  transition: background-color .3s;
}

.book .notes-list li:hover > a {
  background-color: #ffff47;
  cursor: pointer;
  text-decoration: none;
}

.book .notes-list li .title {
  display: block;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.book .notes-list li:hover .title {
  width: calc(100% - 82px);
}

.book .notes-list li .content {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.book .view {
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  height: 100%;
  position: relative;
  max-height: 100%;
  overflow-y: auto;
}

.book .view .title {
  font-size: 32px;
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  word-break: break-all;
}

.book .view .content {
  display: block;
  padding-top: 1px;
  white-space: pre-wrap;
  /* overflow-y: auto; */
  padding-bottom: 10px;
  /* max-height: calc(100% - 48px); */
}

.book .edit {
  height: 100%;
}

.book .edit form {
  height: 100%;
  display: block;
}

.book .edit input[name=title] {
  font-size: 32px;
  display: block;
  font-weight: bold;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  border-left: 0 none;
  border-right: 0 none;
  padding: 0;
}

.book .edit textarea[name=content] {
  background-color: transparent;
  width: 100%;
  border: 0 none;
  border-bottom: 1px solid #333;
  resize: none;
  height: calc(100% - 52px);
  padding: 0;
}

.book .edit input, .book .edit textarea {
  transition: background-color .5s;
}

.book .edit input:focus,
.book .edit textarea:focus {
  background-color: #ffff47;
}

.book.user {
  max-width: 300px;
  margin: 0 auto;
  height: auto;
}

.book.user form > p > label {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 0;
}

.book.user form > p > input {
  border: 2px solid #333;
  border-radius: 5px;
  padding: 2px 6px;
}

.book.user form > p > input:focus {
  background-color: #ffff47;
}

.book.user form button,
.book.user form a {
  color: #333;
  padding: 6px 12px;
  border-radius: 5px;
  text-decoration: none;
  border: 0 none;
  display: inline-block;
}

.book.user form .footer button {
  float: right;
}

.book.user form .submit {
  background-color: #CCE855;
}

.book.user form .info {
  background-color: #87D6F5
}

form .errorlist {
  background-color: #F49599;
  border-radius: 5px;
  list-style: none;
  padding: 6px 12px
}

form .helptext {
  display: block;
  font-size: 12px;
  /* background-color: #F49599; */
  margin-top: 5px;
  border-radius: 5px;
  /* padding: 4px 8px; */
}

form > ul {
  font-size: 12px;
  padding-left: 15px;
}

@media (max-width: 425px) {
  header {
    display: none;
  }

  main {
    margin: 15px;
    padding: 0;
  }

  .book {
    height: calc(100vh - 30px);
  }

  .book .book-hd > a i,
  .book .book-hd > button i {
    margin-right: 0;
    position: relative;
    top: 2px;
  }

  .book .book-hd a span,
  .book .book-hd button span {
    display: none;
  }
}
